.auth-container {
    background-image: url('../../../assets/images/auth-background.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}