<div class="card h-100 d-flex justify-center">
   <div class="d-flex justify-content-between sidebar-heading p-3">
      <img class="w-100"
           height="50px"
           src="./media/auth-background.jpg"
           alt="">
      <i (click)="toggleSidebar()"
         [ngClass]="{
                     'pi-angle-left': isSidebarCollapsed,
                     
                     'pi-angle-right': !isSidebarCollapsed
                     }"
         class="cursor-pointer pi">
      </i>
   </div>
   <p-panelmenu [model]="menuItems"
                styleClass="w-full md:w-80">
      <ng-template #item
                   let-item>
         <ng-container *ngIf="item.routerLink; else urlRef">
            <a [routerLink]="item.routerLink"
               class="d-flex align-items-center
                cursor-pointer text-color px-3 py-2 gap-2">
               <span [class]="item.icon"></span>
               <span *ngIf="isSidebarCollapsed" class="ml-2">{{ item.label }}</span>
            </a>
         </ng-container>
         <ng-template #urlRef>
            <a *ngIf="item.url; else noLink"
               [href]="item.url"
               class="d-flex align-items-center
                    cursor-pointer text-color px-3 py-2 gap-2">
               <span [class]="item.icon"></span>
               <span *ngIf="isSidebarCollapsed" class="ml-2">{{ item.label }}</span>
            </a>
            <ng-template #noLink>
               <span class="d-flex align-items-center cursor-pointer text-surface-700 dark:text-surface-0 px-4 py-2 gap-2">
                  <span [class]="item.icon"></span>
                  <span *ngIf="isSidebarCollapsed" class="ml-2">{{ item.label }}</span>
                  <i *ngIf="item.items"
                     class="pi pi-angle-down text-primary ml-auto"></i>
               </span>
            </ng-template>
         </ng-template>
      </ng-template>
   </p-panelmenu>
</div>