.login-container {
    padding: 2rem 2em;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.error {
    color: red;
    font-size: 0.85rem;
}

p-button  {
    cursor: pointer;

    &:disabled {
        background: #aaa;
        cursor: not-allowed;
    }
}