<div class="card login-container">
  <h2>Login</h2>
  <form [formGroup]="form"
        (ngSubmit)="submit()">

    <div class="d-flex flex-column justify-center gap-2 p-3">
      <div style="padding-bottom: 1.5rem; position: relative;">

        <input pInputText
               pInputText
               formControlName="email"
               class="ng-invalid ng-dirty w-100"
               placeholder="email" />
        <div class="error"
             style="position: absolute; bottom: 0;"
             *ngIf="form.controls.email.touched && form.controls.email.invalid">
          Valid email is required.
        </div>
      </div>

      <div style="padding-bottom: 1.5rem; position: relative;">
        <p-password formControlName="password"
                    class="ng-invalid ng-dirty"
                    [toggleMask]="true"
                    [feedback]="false"
                    placeholder="Password" />

        <div class="error"
             style="position: absolute; bottom: 0;"
             *ngIf="form.controls.password.touched && form.controls.password.invalid">
          Password is required.
        </div>
      </div>
      <p-button type="submit"
                [disabled]="loading() || form.invalid"
                [label]="loading() ? 'Logging in...' : 'Login'"></p-button>
    </div>
    @if (error()) {}
    <div class="error"
         *ngIf="error()">
      {{ error() }}
    </div>
  </form>
</div>